main {
  min-height: 100svh;
  max-height: 100svh;
  background: #f09819; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #edde5d, #f09819); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(280deg, #edde5d, #f09819);
  // animation: shineMove 8s infinite linear;
  > div {
    height: inherit;
  }
}
.left-side {
  min-height: 100svh;
  max-height: 100svh;
  .image-holder {
    background-color: #0c0a09;
    // padding-top: 0px !important;
    // padding-bottom: 0px !important;
    width: 100px !important;
    height: 100px !important;
    position: absolute;
    top: -40px;
    left: -5%;
    border-color: var(--color-primary-400) !important;
    // border-color: transparent;
    // box-shadow: -3px 3px 10px var(--color-primary-500);
  }
}
.from-container {
  animation: fadeIn 1s ease-in-out;
}
.right-side {
  min-height: 100svh;
  max-height: 100svh;

  .image-holder {
    background-color: #0c0a09;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}
.btn-primary {
  background-color: var(--color-primary-400) !important;
  color: var(--color-bg-900) !important;
  border: 1px solid var(--color-bg-600) !important;
  padding: 8px 14px;
  border-radius: 6px;
  transition: 0.2s ease-in-out;
}

.btn-primary:hover {
  background-color: var(--color-primary-500) !important;
  // color: var(--color-bg-200) !important;
}
.auth-redirect {
  span {
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      color: var(--color-primary-300) !important;
    }
  }
}
.h-from-auth {
  position: relative; // fix
  width: fit-content !important;

  &::before,
  &::after {
    content: '';
    position: absolute;
    background-color: transparent;
    top: 0;
    width: 30px;
    height: 30px;
  }

  &::before {
    left: -30px;
    border-top-right-radius: 20%;
    box-shadow: 10px 0 0 var(--color-primary-400);
  }

  &::after {
    right: -30px;
    border-top-left-radius: 20%; // fix
    box-shadow: -10px 0 0 var(--color-primary-400); // fix
  }
}
input {
  background-color: var(--color-bg-800) !important;
  border-color: var(--color-bg-600) !important;
}

/* Right side background */
.right-side {
  // background: linear-gradient(135deg, #d4af37, #f6e27f);
  display: flex;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  position: relative;
  overflow: hidden;
}

/* Decorative shine */
.right-side::before {
  content: '';
  position: absolute;
  top: -100%;
  left: 0;
  width: 200%;
  height: 300%;
  // background: radial-gradient(circle, rgba(255,255,255,0.25) 0%, transparent 60%);
  // animation: shineMove 8s infinite linear;
  pointer-events: none;
}

/* Welcome box */
.welcome-box {
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.15);
  padding: 40px 35px;
  border-radius: 25px;
  max-width: 420px;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.15);
  animation: fadeIn 1s ease-in-out;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.welcome-title {
  font-size: 50px;
  font-weight: 800;
  // color: #fff;
  text-transform: capitalize;
  margin-bottom: 10px;
  letter-spacing: 1.5px;
}

.welcome-text {
  font-size: 19px;
  // color: #ffffffd9;
  font-weight: 300;
  line-height: 1.6;
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes shineMove {
  0% {
    transform: translate(-30%, -30%);
  }
  100% {
    transform: translate(30%, 30%);
  }
}
