<aside id="sidebar" class="sidebar">
  <div class="sidebar-header">
    <h4 class="text-white mb-0">{{"dashboard.dashboard" |translate}}</h4>
    <button class="btn btn-sm btn-light d-md-none" id="closeSidebar">
      <i class="bi bi-x-lg"></i>
    </button>
  </div>

  <ul class="sidebar-nav">
    <li class="nav-item">
      <a href="#" class="nav-link"> <i class="pi pi-home"></i> <span>{{"global.home" |translate}}</span> </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="pi pi-objects-column"></i> <span>{{"dashboard.categories" |translate}}</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link"> <i class="pi pi-microsoft"></i> <span>{{"dashboard.products" |translate}}</span> </a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link"> <i class="pi pi-box"></i> <span>{{"dashboard.orders" |translate}}</span> </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link"> <i class="pi pi-database"></i> <span>{{"dashboard.sellRequests" |translate}}</span> </a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link"> <i class="pi pi-users"></i><span>{{"dashboard.users" |translate}}</span> </a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link"> <i class="pi pi-money-bill"></i><span>{{"dashboard.sells" |translate}}</span> </a>
    </li>
  </ul>
</aside>
